@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

html,
body,
html * {
  font-family: 'Roboto', sans-serif;
}

html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  /* justify-content: space-between; */
}

.container {
  flex: 1;
}
.red{
  color:Red
}
.image-class{
  
  height: 17.2rem;
  max-height: 17.2rem;

}
/* .fixed-div-height{
  min-height: 17.2rem;
  max-height: 17.2rem;
} */